# Python
*.py[cod]
__pycache__/
*.so
env/
venv/
.env


# Django
*.log
local_settings.py
db.sqlite3
debug.log
media/
static/
temp/
migrations/
media/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
dev.sock
