{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:app_placa384_transferir_96_384' %}" class="addlink">
            Transferir Placas 96 -> 384
        </a>

        <a href="{% url 'admin:app_placa384_transferir_384_384' %}" class="addlink">
            Transferir Placas 384 -> 384
        </a>
            <a href="{% url 'admin:app_placa384_transferir_384_1536' %}" class="addlink">
                Transferir Placas 384 -> 1536
            </a>
    </li>
    {{ block.super }}
{% endblock %}